<section id="clinetSection">
    <div class="card">
        <h5 class="font-weight-bold card-text">
            {{clientType}} Detials
        </h5>
        <div class="card-body" *ngIf="clientData">
            <div class="d-flex justify-content-between">
                <div>
                    <span>Name: </span>
                    <span>{{clientData.name}}</span>
                </div>
                <div>
                    <span>Mobile: </span>
                    <span>{{clientData.mobile}}</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="sectorSection">
    <div class="card">
        <h5 class="font-weight-bold card-text">
            Sectors
        </h5>
        <div class="row">
            <div class="col-md-12">
                <div class="card-body">
                    <form #sectorForm ="ngForm">
                        <div class="form-group">
                            <label>Select Sector</label>
                            <select class="form-control" [(ngModel)]="data.sectorId" name="sector">
                                <option *ngFor="let sector of sectorsData" value="{{sector.id}}">
                                    {{sector.name}}
                                </option>
                            </select>
                            <h3>Time Slots</h3>
                            <div class="form-check" *ngFor="let time of allTimes">
                                <input class="form-check-input" (change)="insertTimeSlot(time.id,$event.target.checked)" id="time_{{time.id}}" type="checkbox" value="{{time.id}}">
                                <label for="time_{{time.id}}"><p>From : {{time.from}}  - {{time.to}}</p></label>
                            </div>

                        </div>
                        <div class="form-group d-flex justify-content-between">
                            <button class="btn btn-success" (click)="save()"  [disabled]="data.timeSlots.length ==0 || data.sectorId == 0">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>