<div class="card">
    <div class="card-body">
        <a class="card-text btn btn-primary mb-4" [routerLink]="['/hotels/add']">Add Hotel</a>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hotel of hotels">
                    <td>{{hotel.id}}</td>
                    <td>{{hotel.name}}</td>
                    <td><a [routerLink]="['/hotels/'+hotel.id+'/rooms']">View Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>