<h5>Reservation List</h5>
<div class="card mb-4" *ngFor="let meeting of meetings">
    <div class="card-body">
  
        <div>
            <p class="card-text">
                Reservation ID: {{meeting.id}}
            </p>
            <div class="card card-body">
            <h4 class="font-weight-bold">Sectors</h4>
                {{meeting.sector.name}}
            </div>
            <div class="card card-body">
                <h4 class="font-weight-bold">
                    Room
                </h4>
                <div>
                    {{meeting.room.name}}
                </div>
            </div>
            <div class="card card-body">
                <h5>Clients</h5>
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Client Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of meeting.clients">
                            <td>{{client.id}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.mobile}}</td>
                            <td>{{client.clientType}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card card-body">
                <h4>
                    Time
                </h4>
                <div class="d-flex justify-content-between">
                    
                    <span>
                        From:{{meeting.timeSlot.from | date : 'medium'}}
                    </span>
                    <span>
                        To:{{meeting.timeSlot.to | date : 'medium'}}
                    </span>
                </div>
            </div>
   
        </div>
        
    </div>
</div>