<div class="card">
    <h5 class="font-weight-bold card-text">
        Room List
    </h5>
    <div class="card-body">
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let room of rooms">
                    <td>{{room.name}}</td>
                    <td><a [routerLink]="['/hotels/'+hotelId+'/rooms/'+room.id]">View Details</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>