<div class="card">
    <div class="card-body" *ngIf="room">    
        <h5 class="font-weight-bold card-title">
            Room Details
        </h5>
        <div class="d-flex justify-content-between">
            <span><strong>ID : </strong> {{room.id}} </span>
            <span><strong>Name : </strong>{{room.name}} </span>
        </div>
        <p class="card-text">
            Time Slot Details
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Day
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let timeslot of room.timeSlots">
                    <td>
                        {{timeslot.day}}
                    </td>
                    <td>
                        {{timeslot.from | date:'medium'}}
                    </td>
                    <td>
                        {{timeslot.to | date:'medium'}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>