<div class="row">
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Hotels</h5>
            <a [routerLink]="['/hotels']" class="btn btn-primary">Hotels</a>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Presenters</h5>
            <a [routerLink]="['/clients/Presenter']"  class="btn btn-primary">Presenters</a>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Investors</h5>
            <a [routerLink]="['/clients/Investor']" class="btn btn-primary">Investors</a>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Make An Reservation</h5>
            <a [routerLink]="['/reservations/investors']" class="btn btn-primary">Reservation</a>
        </div>
    </div>
    <div class="card col-md-4">
        <div class="card-body">
            <h5 class="card-title">Reservation List</h5>
            <a [routerLink]="['/reservations']" class="btn btn-primary">Reservation</a>
        </div>
    </div>
</div>
