<div class="card">
    <div class="card-body">
        <h5 class="card-text">
            Hotels Form
        </h5>
        <form #hotelForm= "ngForm">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" required type="text" [(ngModel)]="data.name" name="Name">
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-success" (click)="save()" [disabled]="!hotelForm.valid">Next</button>
            </div>
        </form>
    </div>
</div>