<div class="card">
    <div class="card-body">
        <h5 class="card-title">Presenters and Rooms</h5>
        <div *ngIf="meeting">
            <form #meetingForm ="ngForm">
                <div class="form-group">
                    <label>Presenter:</label>
                    <select class="form-control" [(ngModel)]="data.presenterId" name="presenterId" >
                        <option *ngFor="let presenter of meeting.presenters" [value]="presenter.id">
                            {{presenter.name}}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <h5>Rooms:</h5>
                    <div *ngFor="let room of meeting.rooms" class="form-check">
                        <input class="form-check-input"  type="radio" value="{{room.id}}" [(ngModel)]="data.roomId" name="roomId">
                        <label class="form-check-label" for="{{room.id}}">{{room.name}}</label>
                    </div>
                </div>
                <button class="btn btn-success" [disabled]="data.roomId == 0 || data.presenterId == 0 " (click)="save()">
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
