<div class="card">
    <div class="card-body">
        <h5 class="card-title">Investor List</h5>
        <div *ngFor="let investor of investors" >
            <app-client-view [client]="investor" [reservationFlag]="true" ></app-client-view>
            
        </div>
    </div>
</div>