<div class="card">
    <h5 class="card-title font-weight-bold">{{data.clientType}} Form</h5>
    <div class="card-body col-md-6">
        <form #clientForm="ngForm">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" required name="name" [(ngModel)]="data.name">
            </div>
            <div class="form-group">
                <label>Mobile</label>
                <input type="text" class="form-control" required name="mobile" [(ngModel)]= "data.mobile">
            </div>
            <button class="btn btn-primary" type="button" [disabled]="!clientForm.valid" (click)="save()">Save</button>
        </form>
    </div>
</div>