<div class="card">
    <div class="card-body">
        <p class="card-text row">
            <span class="col-md-3">
                 <strong>ID: </strong>{{client.id}}
            </span>
            <span class="col-md-3">
                <strong>Name: </strong>{{client.name}}
            </span>
            <span class="col-md-3">
                <strong>Mobile: </strong>{{client.mobile}}
            </span>
            <span *ngIf="reservationFlag" class="col-md-3">
                <!-- <a [routerLink]="['/reservations/investors/:investorId']">Sectors</a> -->
                <button class="btn btn-primary" (click)="openModal(template)">Sectors</button>
            </span>
        </p>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Reservations</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-reservation-sectors (onAssignClick)="closeModal($event)" [investorId]="client.id" [sectors]= "client.clientSectorTimes"></app-reservation-sectors>
    </div>
  </ng-template>