<div class="card d-flex justify-content-center">
    <div class=" card-body row">
        <div class="col-md-12">
            <h5 class="card-text">Room Form</h5>
            <form #roomForm="ngForm">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" required [(ngModel)]="data.name" name="name" type="text">
                </div>
                <!-- <div class="form-group">
                    <button (click)="addTimeSlot()" class="btn btn-primary">Add Time Slot</button>
                </div> -->
                <h3>Time Slots</h3>
                <div class="form-check"  *ngFor="let time of timeslots">
                    <input  class="form-check-input" (change)="insertTimeSlot(time.id,$event.target.checked)" id="time_{{time.id}}" type="checkbox" value="{{time.id}}">
                    <label for="time_{{time.id}}"><p>From : {{time.from | date : 'medium'}}  - {{time.to | date : 'medium'}}</p></label>
                </div>
                <div class="form-group">
                    <button type="submit" (click)="save()" class="btn btn-success" [disabled]=" data.timeSlots.length ==0 || data.name.length ==0">Save</button>
                </div>
            </form>
            <!-- <form *ngIf="timeSlotFlag" #timeslotForm = "ngForm">
                <div class="form-group">
                    <label>Day</label>
                    <input type="date" class="form-control" required name="day" [(ngModel)]="timeSlot.day">
                </div>
                <div class="form-group">
                    <label>From</label>
                    <input type="time" class="form-control" required name="from" [(ngModel)]="timeSlot.from">
                </div>
                <div class="form-group">
                    <label>To</label>
                    <input type="time" class="form-control" required name="to" [(ngModel)]="timeSlot.to">
                </div>
                <div class="d-flex justify-content-between">
                    <button (click)="insertTimeSlot()" [disabled]="!timeslotForm.valid" class="btn btn-primary">
                        Add
                    </button>
                    <button (click)="cancelTimeSlot()" class="btn btn-danger">Cancel</button>
                </div>
            </form> -->
        </div>
        <!-- <div class="col-md-6">
            <h3 class=" card-text font-weight-bold text-warning">
                Time Slots
            </h3>
            <table class="table table-stripped mt-4">
                <thead>
                    <tr>
                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let time of data.timeSlots">
                        <td>
                            {{time.from}}
                        </td>
                        <td>{{time.to}}</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>

</div>
