<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            Sectors
        </h5>
        <div class="card" *ngFor="let sector of sectors">
            <div class="card-body">
                <p class="card-text">
                    Sector : {{sector.sector}}
                </p>
                <table class="table table-borded">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rec of sector.data">
                            <td>
                                {{rec.timeSlot.from | date : 'medium'}}
                            </td>
                            <td>
                                {{rec.timeSlot.to | date :'medium'}}
                            </td>
                            <td *ngIf="existMeeting(rec.timeSlot.id)">
                                <a (click)="closeModal()"  [routerLink]="['/reservations/investors/'+investorId+'/sector/'+rec.id + '/time/'+rec.timeSlot.id]">
                                    Assign
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>