<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{type}}</h5>
        <a class="mb-3 btn btn-primary" [routerLink]="['/clients/add/'+type]">
            Add New {{type}}
        </a>
        <div *ngFor="let client of clients">
            <app-client-view [client]= "client"></app-client-view>
        </div>
    </div>
</div>